.appbar {
  background: transparent;
}

.title-wrapper {
  padding: 30px 0px 0px 30px;
}

.component-body {
  padding-top: 10px;
}

@media (max-width: 959px) {
  .title-circle {
    left: -73px;
    top: -73px;
  }
  .circle {
    width: 200px;
    height: 200px;
  }
}
