.appbar {
  background: transparent;
}

.title-wrapper {
  padding: 30px 0px 0px 30px;
}

.component-container {
  margin-top: 100px;
}

.component-body {
  padding-top: 10px;
}

.title-circle {
  position: absolute;
  left: -140px;
  top: -140px;
  overflow: hidden;
}

.circle {
  display: flex;
  width: 300px;
  height: 300px;
  background-color: #e0e0e0;
  border-radius: 50%;
}

@media (max-width: 959px) {
  .title-circle {
    left: -73px;
    top: -73px;
  }
  .circle {
    width: 200px;
    height: 200px;
  }
}
