@font-face {
  font-family: "Freescript";
  src: local("Freescript"), url(./fonts/freescript.ttf) format("truetype");
}

@font-face {
  font-family: "Newsgoth";
  src: local("Newsgoth"), url(./fonts/newsgoth-cn-bt.ttf) format("truetype");
}

html {
  overflow-x: hidden;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
