.contact-container {
  display: flex;
  flex-direction: column;
  padding: 80px 80px 140px 80px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 540px) {
  .contact-container {
    padding: 10vw;
  }
}

.submit-button {
  width: fit-content;
  margin-top: 20px !important; /* TODO: check why? */
}

.contact-form {
  padding: 0px 10px;
}
